body {
    width: 100%;
    
    background-color:turquoise;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }
.personal_information{
    
  height: 0vh;
  display:flex;
  
  place-content:center;
}
h1, p {
    margin: 1em auto;
    text-align: center;
  }
.select,.recommend{
  height: 10vh;
  display: grid;
  
  place-content: center;
}
.border{
  height: 20vh;
  display: grid;
   
  place-content: center;
 
}
.border1{
  height: 20vh;
  display: grid;
   
  place-content: center;
  
}
.chek{
  height:70vh;
  display:grid;
   
  place-content: center;
  }
.title1{
    text-align:left;
  }