body{

  
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color:cyan;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    color:black  
    
}
p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
h1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
}
.survey-form{
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.recommend{
  display:inline-block;
  
}
